## Metadata
- Root: {{ metadata.root_url }}
- Source: {{ metadata.source_url }}
- License: CC-BY-4.0
- Crawl Policy: allow

---

# {{ h1 or title }}

{% for paragraph in paragraphs %}
{{ paragraph }}

{% endfor %}

{% if headings %}
## Sections
{% for heading in headings %}
- {{ heading }}
{% endfor %}
{% endif %}

{% if links %}
## Links
{% for link in links %}
- [{{ link.text }}](
  {%- if link.href.startswith("http") -%}
    {{ link.href }}
  {%- else -%}
    {{ metadata.root_url.rstrip('/') }}/
    {%- if link.href.startswith("./") -%}{{ link.href[2:] }}
    {%- elif link.href.startswith("/") -%}{{ link.href[1:] }}
    {%- else -%}{{ link.href }}{% endif %}
    {%- if link.href.endswith(".md") -%}
    {%- elif link.href.endswith(".html") -%}.md
    {%- else -%}.html.md{% endif %}
  {%- endif -%}
)
{% endfor %}
{% endif %}