## Metadata
- Root: {{ metadata.root_url }}
- Source: {{ metadata.source_url }}
- License: CC-BY-4.0
- Crawl Policy: allow

---

# {{ h1 or title }}

{% if paragraphs and paragraphs|length > 0 %}
> {{ paragraphs[0] }}
{% endif %}

{% if paragraphs and paragraphs|length > 1 %}
{% for p in paragraphs[1:] %}
{{ p }}

{% endfor %}
{% endif %}

## Docs
{% if links and links|length > 0 %}
  {% if engine == "jinja2" %}
    {% include "partials/links.jinja" %}
  {% else %}
    {% include "partials/links.njk" %}
  {% endif %}
{% endif %}