## Metadata
- Root: {{ metadata.root_url }}
- Source: {{ metadata.source_url }}
- License: CC-BY-4.0
- Crawl Policy: allow

---

# {{ h1 | default(title, true) }}

{% if paragraphs and (paragraphs | length) > 0 %}
> {{ paragraphs[0] }}
{% endif %}

{% if paragraphs and (paragraphs | length) > 1 %}
{% for p in paragraphs[1:] %}
{{ p }}

{% endfor %}
{% endif %}

## Docs
{% if links %}
  {% if engine == "jinja2" %}
    {% include "partials/links.jinja" %}
  {% elif engine == "nunjucks" %}
    {% include "partials/links.njk" %}
  {% endif %}
{% endif %}
