{# 
  Copyright (c) 2025 Ricardo Espantaleón Pérez
  SPDX-License-Identifier: Apache-2.0
#}
# {{ h1 or title }}

{% for paragraph in paragraphs %}
{{ paragraph }}

{% endfor %}

{% if headings %}
## Sections
{% for heading in headings %}
- {{ heading }}
{% endfor %}
{% endif %}

{% if links %}
## Links
{% for link in links %}
- [{{ link.text }}](
  {%- if link.href.startswith("http") -%}
    {{ link.href }}
  {%- else -%}
    {{ metadata.root_url.rstrip('/') }}/{{ link.href.lstrip('/') }}
  {%- endif -%}
)
{% endfor %}
{% endif %}
